<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->
<head>
    <meta charset="utf-8">
    <title>Admin</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/assets/images/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/public/assets/css/main.css" rel="stylesheet" type="text/css" />
     <!-- Vendor CSS -->
     <link rel="stylesheet" href="/public/assets/css/vendor/font-awesome.min.css">
     <link rel="stylesheet" href="/public/assets/css/vendor/ionicons.css">
     <link rel="stylesheet" href="/public/assets/css/vendor/simple-line-icons.css">
     <link rel="stylesheet" href="/public/assets/css/vendor/jquery-ui.min.css">

     <link rel="stylesheet" href="/public/assets/css/vendor/normalize.css">
     <link rel="stylesheet" href="/public/assets/css/vendor/bootstrap.css">
     <link rel="stylesheet" href="/public/assets/css/vendor/material-icon-round.css">
 

 
     <!-- Plugin CSS -->
     <link rel="stylesheet" href="/public/assets/css/plugins/swiper-bundle.min.css">
     <link rel="stylesheet" href="/public/assets/css/plugins/animate.min.css">
     <link rel="stylesheet" href="/public/assets/css/plugins/nice-select.css">
     <link rel="stylesheet" href="/public/assets/css/plugins/venobox.min.css">
     <link rel="stylesheet" href="/public/assets/css/plugins/jquery.lineProgressbar.css">
     <link rel="stylesheet" href="/public/assets/css/plugins/aos.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 
    
</head>

<body style="background:url(/public/assets/images/banner/loginbanner.jpg);background-repeat: no-repeat;background-size: cover;">



<div class="container p-5" >

<div class="card mb-3 p-5 " id="card-login">
    <div class="row">
      
      <div class="col-md-6">
        <div class="card-body">
            <div>
              <h2 class="card-title mb-4"> Admin Log in</h4>

              <!-- Add this section to display error messages -->
              <% if (err ) { %>
                  <center><p id="error-message" class="text-danger mb-2"><%= err %></p></center>
              <% } %>
              <form action="/admin" method="post" onsubmit="return validateForm()" enctype="application/x-www-form-urlencoded">
                <div class="mb-3">
                    <input class="form-control" name="email" id="adminEmail" placeholder="Enter your email"
                        type="text" >
                    <span id="emailMessage" class="text-danger"></span>
                </div> <!-- form-group// -->


                <div class="mb-3">
                    <div class="password-input">
                        <input class="form-control" name="password" id="adminPassword"
                            placeholder="Enter your Password" type="password" >
                        <span class="password-toggle-button" onclick="togglePasswordVisibilityAdmin(this)">
                            <i class="bi bi-eye-slash"></i>
                        </span>
                        <span id="passwordMessage" class="text-danger"></span>
                    </div>
                </div>





               
                <div class="mb-4">
                    <button type="submit" class="btn btn-primary w-100" name="login"> Login </button>
                </div>
                <!-- form-group// -->
            </form>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <img src="/public/assets/images/admin.png" class="img-fluid rounded-start" alt="image">
      </div>
    </div>
  </div>
      
</div>
<script>
function togglePasswordVisibilityAdmin(button) {
  const passwordInput = button.parentElement.querySelector('input[name="password"]');
  if (passwordInput.type === "password") {
      passwordInput.type = "text";
      button.innerHTML = '<i class="bi bi-eye"></i>'; // Show the "eye-slash" icon
  } else {
      passwordInput.type = "password";
      button.innerHTML = '<i class="bi bi-eye-slash"></i>'; // Show the "eye" icon
  }
}





//form validation
function validateForm() {
  // Get all input fields

  const emailInput = document.getElementById('adminEmail');
  const passwordInput = document.getElementById('adminPassword');

  // Get all validation messages

  const emailMessage = document.getElementById('emailMessage');
  const passwordMessage = document.getElementById('passwordMessage');

  // Clear all validation messages

  emailMessage.textContent = '';
  passwordMessage.textContent = '';



  // Validate the email field
  if (!/^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/.test(emailInput.value)) {
      emailMessage.textContent = 'Please enter a valid email address.';
  }

  // Validate the password field
  if (passwordInput.value.length < 6) {
      passwordMessage.textContent = 'Please enter a password of 6 characters.';
  }

  // If all fields are valid, return true
  if (emailMessage.textContent === '' &&
      passwordMessage.textContent === ''
  ) {
      return true;
  }

  // Otherwise, return false
  return false;
}
</script>
<%- include('footer') -%>