<!DOCTYPE html>
<html lang="zxx">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>NYRA</title>

    <!-- ::::::::::::::Favicon icon::::::::::::::-->
    <link rel="shortcut icon" href="/public/assets/images/favicon.ico" type="image/png">

    <!-- ::::::::::::::All CSS Files here :::::::::::::: -->
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/public/assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/public/assets/css/vendor/ionicons.css">
    <link rel="stylesheet" href="/public/assets/css/vendor/simple-line-icons.css">
    <link rel="stylesheet" href="/public/assets/css/vendor/jquery-ui.min.css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/public/assets/css/plugins/swiper-bundle.min.css">
    <link rel="stylesheet" href="/public/assets/css/plugins/animate.min.css">
    <link rel="stylesheet" href="/public/assets/css/plugins/nice-select.css">
    <link rel="stylesheet" href="/public/assets/css/plugins/venobox.min.css">
    <link rel="stylesheet" href="/public/assets/css/plugins/jquery.lineProgressbar.css">
    <link rel="stylesheet" href="/public/assets/css/plugins/aos.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/public/assets/css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    
    <link rel="stylesheet"
    href=
"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
<link rel="stylesheet"
href=
"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity=
"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
crossorigin="anonymous">
    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <!-- <link rel="stylesheet" href="assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="assets/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css"> -->

</head>

<body>
    <header class="header-section d-none d-xl-block">
        <div class="header-wrapper">
            <!-- Start Header Top -->
            <div class="header-top header-top-bg--black section-fluid">
                <div class="container">
                    <div class="col-12 d-flex align-items-center justify-content-between">
                        <div class="header-top-left">
                            <div
                                class="header-top-contact header-top-contact-color--white header-top-contact-hover-color--green">
                                <a href="tel:0123456789" class="icon-space-right"><i
                                        class="icon-call-in"></i>+91 9054634538</a>
                                <a href="mailto:demo@example.com" class="icon-space-right"><i
                                        class="icon-envelope"></i>nyrabeauty@gmail.com</a>
                            </div>
                        </div>
                        <div class="header-top-right">
                            <div
                                class="header-top-user-link header-top-user-link-color--white header-top-user-link-hover-color--green">
                                <a href="/wishlist">Wishlist</a>
                                <a href="/cart">Cart</a>
                                <a href="#">Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Header Top -->
            <!-- Start Header Bottom -->
            <div class="header-bottom header-bottom-color--green section-fluid sticky-header sticky-color--white">
                <div class="container">
                    <div class="row">
                        <div class="col-12 d-flex align-items-center justify-content-between">
                            <!-- Start Header Logo -->
                            <div class="header-logo">
                                <div class="logo">
                                    <a href="/"><img src="/public/assets/images/logo/logo_black.png" alt=""></a>
                                </div>
                            </div>
                            <!-- End Header Logo -->

                            <!-- Start Header Main Menu -->
                            <div class="main-menu menu-color--black menu-hover-color--green">
                                <nav>
                                    <ul>
                                        <li>
                                            <a href="/home">Home </a>
    
                                        </li>
                                        <li class="has-dropdown has-megaitem">
                                            <a href="/shop?category=face">Face <i
                                                    class="fa fa-angle-down"></i></a>
                                            <!-- Mega Menu -->
                                            <div class="mega-menu">
                                                <ul class="mega-menu-inner">
                                                    <!-- Mega Menu Sub Link -->
                                                    <li class="mega-menu-item">
                                                        <a href="#" class="mega-menu-item-title">Best sellers</a>
                                                        <ul class="mega-menu-sub">
                                                            <li><a href="/shop?category=face">Lip Care</a></li>
                                                            <li><a href="#">Oral Care</a></li>
                                                            <li><a href="#">Eye Creams</a></li>
                                                            <li><a href="#">MAkeup Bases</a></li>
                                                            
                                                        </ul>
                                                    </li>
                                                    <!-- Mega Menu Sub Link -->
                                                    <li class="mega-menu-item">
                                                        <a href="#" class="mega-menu-item-title">Lip Care</a>
                                                        <ul class="mega-menu-sub">
                                                            <li><a href="#">Lip Balms</a></li>
                                                            <li><a href="#">Lip Serum</a></li>
                                                            <li><a href="#">Lip Scrub</a></li>
                                                            <li><a href="#">Lip Mask</a></li>
                                                            <li><a href="#">Lip oil</a></li>
                                            
                                                        </ul>
                                                    </li>
                                                    <!-- Mega Menu Sub Link -->
                                                    <li class="mega-menu-item">
                                                        <a href="#" class="mega-menu-item-title">Oral Care</a>
                                                        <ul class="mega-menu-sub">
                                                            <li><a href="#">Tooth brush</a></li>
                                                            <li><a href="#">Tooth Paste</a></li>
                                                            <li><a href="#">Mouth wash</a></li>
                                                        
                                                        </ul>
                                                    </li>
                                                    <!-- Mega Menu Sub Link -->
                                                    <li class="mega-menu-item">
                                                        <a href="#" class="mega-menu-item-title">Eye Creams & others</a>
                                                        <ul class="mega-menu-sub">
                                                            <li><a href="#">under eyecream</a></li>
                                                            <li><a href="#">eye Serum</a></li>
                                                            <li><a href="#">Face pack</a></li>
                                                            <li><a href="#">Face serum</a></li>
                                                            <li><a href="#">Facial oils</a></li>
                                                          
                                                        </ul>
                                                    </li>
                                                  
                                                </ul>
                                                <div class="menu-banner">
                                                    <a href="#" class="menu-banner-link">
                                                        <img class="menu-banner-img"
                                                            style="height: 200px; width: 800px;" src="/public/assets/images/banner/menu-banner.jpg" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="has-dropdown">
                                            <a href="/shop?category=hair">Hair <i
                                                    class="fa fa-angle-down"></i></a>
                                            <!-- Sub Menu -->
                                            <ul class="sub-menu">
                                                <li><a href="#">Hair oils</a>
                                                </li>
                                                <li><a href="#">Hair serum</a>
                                                </li>
                                                <li><a href="#">Conditioner</a></li>
                                                <li><a href="#">Shampoo</a>
                                                </li>
                                                <li><a href="#">Comb</a>
                                                </li>
                                                <li><a href="#">Essential oils</a>
                                                </li>
                                                <li><a href="#">Hair pack</a></li>
                                                <li>
                                                    <a href="#" class="menu-banner-link">
                                                        <img class="menu-banner-img"
                                                            style="height: 200px; width: 200px;" src="/public/assets/images/banner/Goat-shampoo.jpg" alt="">
                                                    </a>
                                                </li>
                                            </ul>
                                            
                                        </li>
                                        <li class="has-dropdown">
                                            <a href="/shop?category=body">Body <i class="fa fa-angle-down"></i></a>
                                            <!-- Sub Menu -->
                                            <ul class="sub-menu">
                                                <li><a href="#">Soap</a></li>
                                                <li><a href="#">Body Lotion</a></li>
                                                <li><a href="#">Foot Care</a></li>
                                                <li><a href="#">Body Butter & Scrub</a></li>
                                                <li><a href="#">Body Powder</a></li>
                                                <li><a href="#">Perfumes</a></li>
                                                <li>
                                                    <a href="#" class="menu-banner-link">
                                                        <img class="menu-banner-img"
                                                            style="height: 200px; width: 200px;" src="/public/assets/images/banner/One-Seed-perfume-200x300.webp" alt="">
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Brands<i class="fa fa-angle-down"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Deyga</a></li>
                                                <li><a href="#">Vilvaha</a></li>
                                                <li><a href="#">oh my cream</a></li>
                                                <li><a href="#">Kama Ayurveda</a></li>
                                                <li><a href="#">Magical Jar</a></li>
                                                <li><a href="#">Woman Eau de Parfum</a></li>
                                                <li>
                                                    <a href="#" class="menu-banner-link">
                                                        <img class="menu-banner-img"
                                                            style="height: 200px; width: 200px;" src="/public/assets/images/banner/Dishwashsingsoap-300x300.jpg" alt="">
                                                    </a>
                                                </li>
                                            </ul>
                                            
                                        </li>
                                        <li>
                                            <a href="#">New Arrivals</a>
                                        </li>
                                        
                                        <li>
                                            <a href="/logout" class="btn btn-outline-dark">LogOut </a>
    
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- End Header Main Menu Start -->

                            <!-- Start Header Action Link -->
                            <ul class="header-action-link action-color--black action-hover-color--green">
                                <li>
                                    <a href="/wishlist">
                                        <i class="icon-heart"></i>
                                        <span class="item-count">3</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/cart" >
                                        <i class="icon-bag"></i>
                                        <span class="item-count">3</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#search">
                                        <i class="icon-magnifier"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="/userAc">
                                        <i class="fa-solid fa-user"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- End Header Action Link -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Header Bottom -->
        </div>
    </header>

    <!-- Start Mobile Header -->
    <div class="mobile-header mobile-header-bg-color--white section-fluid d-lg-block d-xl-none">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex align-items-center justify-content-between">
                    <!-- Start Mobile Left Side -->
                    <div class="mobile-header-left">
                        <ul class="mobile-menu-logo">
                            <li>
                                <a href="/home">
                                    <div class="logo">
                                        <img src="/public/assets/images/logo/logo_black.png" alt="">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Mobile Left Side -->

                    <!-- Start Mobile Right Side -->
                    <div class="mobile-right-side">
                        <ul class="header-action-link action-color--black action-hover-color--green">
                            <li>
                                <a href="#search">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </li>
                            <li>
                                <a href="/wishlist" class="offcanvas-toggle">
                                    <i class="icon-heart"></i>
                                    <span class="item-count">3</span>
                                </a>
                            </li>
                            <li>
                                <a href="#offcanvas-add-cart" class="offcanvas-toggle">
                                    <i class="icon-bag"></i>
                                    <span class="item-count">3</span>
                                </a>
                            </li>
                            <li>
                                <a href="#mobile-menu-offcanvas" class="offcanvas-toggle offside-menu">
                                    <i class="icon-menu"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Mobile Right Side -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Mobile Header -->

    <!--  Start Offcanvas Mobile Menu Section -->
    <div id="mobile-menu-offcanvas" class="offcanvas offcanvas-rightside offcanvas-mobile-menu-section">
        <!-- Start Offcanvas Header -->
        <div class="offcanvas-header text-right">
            <button class="offcanvas-close"><i class="ion-android-close"></i></button>
        </div> <!-- End Offcanvas Header -->
        <!-- Start Offcanvas Mobile Menu Wrapper -->
        <div class="offcanvas-mobile-menu-wrapper">
            <!-- Start Mobile Menu  -->
            <div class="mobile-menu-bottom">
                <!-- Start Mobile Menu Nav -->
                <div class="offcanvas-menu">
                    <ul>
                        <li>
                            <a href="#"><span>Home</span></a></li>
                           
                        <li>
                            <a href="#"><span>Face</span></a>
                            <ul class="mobile-sub-menu">
                            
                                <li>
                                    <a href="#" class="mega-menu-item-title">Best sellers</a>
                                    <ul class="mega-menu-sub">
                                        <li><a href="shop-grid-sidebar-left.html">Lip Care</a></li>
                                        <li><a href="shop-grid-sidebar-right.html">Oral Care</a></li>
                                        <li><a href="shop-full-width.html">Eye Creams</a></li>
                                        <li><a href="shop-list-sidebar-left.html">MAkeup Bases</a></li>
                                        
                                    </ul>
                                </li>

                                   <li>
                                    <a href="#" class="mega-menu-item-title">Lip care</a>
                                    <ul class="mega-menu-sub">
                                        <li><a href="cart.html">Lip Balms</a></li>
                                        <li><a href="empty-cart.html">Lip Serum</a></li>
                                        <li><a href="wishlist.html">Lip Scrub</a></li>
                                        <li><a href="compare.html">Lip Mask</a></li>
                                        <li><a href="checkout.html">Lip oil</a></li>
                                        
                                    </ul>
                                   </li>
                                   <li>
                                    <a href="#" class="mega-menu-item-title">Eye products</a>
                                    <ul class="mega-menu-sub">
                                    
                                            <li><a href="product-details-tab-left.html">under eyecream</a></li>
                                            <li><a href="product-details-tab-right.html">eye Serum</a></li>
                                            <li><a href="product-details-tab-right.html">Face pack</a></li>
                                            <li><a href="product-details-tab-right.html">Face serum</a></li>
                                            <li><a href="product-details-tab-right.html">Facial oils</a></li>
                                          
                                        </ul>
                                   </li>

                                    
                                    
                                        
                            <li>
                                <a href="#" class="mega-menu-item-title">Oral care</a>
                                <ul class="mega-menu-sub">
                                    <li><a href="product-details-default.html">Tooth brush</a></li>
                                    <li><a href="product-details-variable.html">Tooth Paste</a></li>
                                    <li><a href="product-details-affiliate.html">Mouth wash</a></li>
                                    
                                </ul>
                            </li>
                                    
                                
                               
                            
                                
                        </ul>
                            
                            
                          
                    </li>
                        <li>
                            <a href="#"><span>Hair</span></a>
                            <ul class="mobile-sub-menu">
                                <li>
                                    <li><a href="blog-grid-sidebar-left.html">Hair oils</a>
                                    </li>
                                    <li><a href="blog-grid-sidebar-right.html">Hair serum</a>
                                    </li>
                                    <li><a href="blog-full-width.html">Conditioner</a></li>
                                    <li><a href="blog-list-sidebar-left.html">Shampoo</a>
                                    </li>
                                    <li><a href="blog-list-sidebar-right.html">Comb</a>
                                    </li>
                                    <li><a href="blog-single-sidebar-left.html">Essential oils</a>
                                    </li>
                                    <li><a href="blog-single-sidebar-right.html">Hair pack</a></li>
                                    
                            </ul>
                        </li>
                       
                         
                        <li>
                            <a href="#"><span>Body</span></a>
                            <ul class="mobile-sub-menu">
                                <li><a href="faq.html">Soap</a></li>
                                <li><a href="privacy-policy.html">Body Lotion</a></li>
                                <li><a href="404.html">Foot Care</a></li>
                                <li><a href="404.html">Body Butter & Scrub</a></li>
                                <li><a href="404.html">Body Powder</a></li>
                                <li><a href="404.html">Perfumes</a></li>
                                
                            </ul>
                        </li>
                        <li><a href="about-us.html">Brands</a>
                            <ul class="mobile-sub-menu">
                                <li><a href="faq.html">Deyga</a></li>
                                <li><a href="privacy-policy.html">Vilvaha</a></li>
                                <li><a href="404.html">oh my cream</a></li>
                                <li><a href="404.html">Kama Ayurveda</a></li>
                                <li><a href="404.html">Magical Jar</a></li>
                                <li><a href="404.html">Woman Eau de Parfum</a></li>
                            </ul>
                            </li>
                            <li><a href="about-us.html">New Arrivals</a></li>
                        
                    </ul>
                </div> <!-- End Mobile Menu Nav -->
            </div> <!-- End Mobile Menu -->

            <!-- Start Mobile contact Info -->
            <div class="mobile-contact-info">
                <div class="logo">
                    <a href="index.html"><img src="/public/assets/images/logo/logo_white.png" alt=""></a>
                </div>

                <address class="address">
                    <span>Nyra products,Ernakulam</span>
                    <span>Call Us: 893634363, 987654321</span>
                    <span>Email: nyraproduct@gmail.com</span>
                </address>

                <ul class="social-link">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>

                <ul class="user-link">
                    <li><a href="/wishlist">Wishlist</a></li>
                    <li><a href="cart.html">Cart</a></li>
                    <li><a href="checkout.html">Checkout</a></li>
                </ul>
            </div>
            <!-- End Mobile contact Info -->

        </div> <!-- End Offcanvas Mobile Menu Wrapper -->
    </div> <!-- ...:::: End Offcanvas Mobile Menu Section:::... -->

    <!-- Start Offcanvas Mobile Menu Section -->
    <div id="offcanvas-about" class="offcanvas offcanvas-rightside offcanvas-mobile-about-section">
        <!-- Start Offcanvas Header -->
        <div class="offcanvas-header text-right">
            <button class="offcanvas-close"><i class="ion-android-close"></i></button>
        </div> <!-- End Offcanvas Header -->
        <!-- Start Offcanvas Mobile Menu Wrapper -->
        <!-- Start Mobile contact Info -->
        <div class="mobile-contact-info">
            <div class="logo">
                <a href="index.html"><img src="/public/assets/images/logo/logo_white.png" alt=""></a>
            </div>

            <address class="address">
                <span>Nyra products,Ernakulam</span>
                <span>Call Us: 893634363, 987654321</span>
                <span>Email: nyraproduct@gmail.com</span>
            </address>

            <ul class="social-link">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>

            <ul class="user-link">
                <li><a href="/wishlist">Wishlist</a></li>
                <li><a href="cart.html">Cart</a></li>
                <li><a href="checkout.html">Checkout</a></li>
            </ul>
        </div>
        <!-- End Mobile contact Info -->
    </div> <!-- ...:::: End Offcanvas Mobile Menu Section:::... -->

    <!-- Start Offcanvas Addcart Section -->
    <div id="offcanvas-add-cart" class="offcanvas offcanvas-rightside offcanvas-add-cart-section">
        <!-- Start Offcanvas Header -->
        <div class="offcanvas-header text-right">
            <button class="offcanvas-close"><i class="ion-android-close"></i></button>
        </div> <!-- End Offcanvas Header -->

        <!-- Start  Offcanvas Addcart Wrapper -->
        <div class="offcanvas-add-cart-wrapper">
            <h4 class="offcanvas-title">Shopping Cart</h4>
            <ul class="offcanvas-cart">
                <li class="offcanvas-cart-item-single">
                    <div class="offcanvas-cart-item-block">
                        <a href="#" class="offcanvas-cart-item-image-link">
                            <img src="/public/assets/images/product/default/home-1/default-1.jpg" alt=""
                                class="offcanvas-cart-image">
                        </a>
                        <div class="offcanvas-cart-item-content">
                            <a href="#" class="offcanvas-cart-item-link">Car Wheel</a>
                            <div class="offcanvas-cart-item-details">
                                <span class="offcanvas-cart-item-details-quantity">1 x </span>
                                <span class="offcanvas-cart-item-details-price">$49.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="offcanvas-cart-item-delete text-right">
                        <a href="#" class="offcanvas-cart-item-delete"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li class="offcanvas-cart-item-single">
                    <div class="offcanvas-cart-item-block">
                        <a href="#" class="offcanvas-cart-item-image-link">
                            <img src="/public/assets/images/product/default/home-2/default-1.jpg" alt=""
                                class="offcanvas-cart-image">
                        </a>
                        <div class="offcanvas-cart-item-content">
                            <a href="#" class="offcanvas-cart-item-link">Car Vails</a>
                            <div class="offcanvas-cart-item-details">
                                <span class="offcanvas-cart-item-details-quantity">3 x </span>
                                <span class="offcanvas-cart-item-details-price">$500.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="offcanvas-cart-item-delete text-right">
                        <a href="#" class="offcanvas-cart-item-delete"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li class="offcanvas-cart-item-single">
                    <div class="offcanvas-cart-item-block">
                        <a href="#" class="offcanvas-cart-item-image-link">
                            <img src="/public/assets/images/product/default/home-3/default-1.jpg" alt=""
                                class="offcanvas-cart-image">
                        </a>
                        <div class="offcanvas-cart-item-content">
                            <a href="#" class="offcanvas-cart-item-link">Shock Absorber</a>
                            <div class="offcanvas-cart-item-details">
                                <span class="offcanvas-cart-item-details-quantity">1 x </span>
                                <span class="offcanvas-cart-item-details-price">$350.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="offcanvas-cart-item-delete text-right">
                        <a href="#" class="offcanvas-cart-item-delete"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
            </ul>
            <div class="offcanvas-cart-total-price">
                <span class="offcanvas-cart-total-price-text">Subtotal:</span>
                <span class="offcanvas-cart-total-price-value">$170.00</span>
            </div>
            <ul class="offcanvas-cart-action-button">
                <li><a href="cart.html" class="btn btn-block btn-green">View Cart</a></li>
                <li><a href="compare.html" class=" btn btn-block btn-green mt-5">Checkout</a></li>
            </ul>
        </div> <!-- End  Offcanvas Addcart Wrapper -->

    </div> <!-- End  Offcanvas Addcart Section -->

    <!-- Start Offcanvas Mobile Menu Section 
    <div id="offcanvas-wishlish" class="offcanvas offcanvas-rightside offcanvas-add-cart-section">
         Start Offcanvas Header 
        <div class="offcanvas-header text-right">
            <button class="offcanvas-close"><i class="ion-android-close"></i></button>
        </div>  ENd Offcanvas Header -->

        <!-- Start Offcanvas Mobile Menu Wrapper 
        <div class="offcanvas-wishlist-wrapper">
            <h4 class="offcanvas-title">Wishlist</h4>
            <ul class="offcanvas-wishlist">
                <li class="offcanvas-wishlist-item-single">
                    <div class="offcanvas-wishlist-item-block">
                        <a href="#" class="offcanvas-wishlist-item-image-link">
                            <img src="/public/assets/images/product/default/home-1/default-1.jpg" alt=""
                                class="offcanvas-wishlist-image">
                        </a>
                        <div class="offcanvas-wishlist-item-content">
                            <a href="#" class="offcanvas-wishlist-item-link">Car Wheel</a>
                            <div class="offcanvas-wishlist-item-details">
                                <span class="offcanvas-wishlist-item-details-quantity">1 x </span>
                                <span class="offcanvas-wishlist-item-details-price">$49.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="offcanvas-wishlist-item-delete text-right">
                        <a href="#" class="offcanvas-wishlist-item-delete"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li class="offcanvas-wishlist-item-single">
                    <div class="offcanvas-wishlist-item-block">
                        <a href="#" class="offcanvas-wishlist-item-image-link">
                            <img src="/public/assets/images/product/default/home-2/default-1.jpg" alt=""
                                class="offcanvas-wishlist-image">
                        </a>
                        <div class="offcanvas-wishlist-item-content">
                            <a href="#" class="offcanvas-wishlist-item-link">Car Vails</a>
                            <div class="offcanvas-wishlist-item-details">
                                <span class="offcanvas-wishlist-item-details-quantity">3 x </span>
                                <span class="offcanvas-wishlist-item-details-price">$500.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="offcanvas-wishlist-item-delete text-right">
                        <a href="#" class="offcanvas-wishlist-item-delete"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li class="offcanvas-wishlist-item-single">
                    <div class="offcanvas-wishlist-item-block">
                        <a href="#" class="offcanvas-wishlist-item-image-link">
                            <img src="/public/assets/images/product/default/home-3/default-1.jpg" alt=""
                                class="offcanvas-wishlist-image">
                        </a>
                        <div class="offcanvas-wishlist-item-content">
                            <a href="#" class="offcanvas-wishlist-item-link">Shock Absorber</a>
                            <div class="offcanvas-wishlist-item-details">
                                <span class="offcanvas-wishlist-item-details-quantity">1 x </span>
                                <span class="offcanvas-wishlist-item-details-price">$350.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="offcanvas-wishlist-item-delete text-right">
                        <a href="#" class="offcanvas-wishlist-item-delete"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
            </ul>
            <ul class="offcanvas-wishlist-action-button">
                <li><a href="#" class="btn btn-block btn-green">View wishlist</a></li>
            </ul>
        </div>  End Offcanvas Mobile Menu Wrapper 

    </div>  End Offcanvas Mobile Menu Section -->

    <!-- Start Offcanvas Search Bar Section -->
    <div id="search" class="search-modal">
        <button type="button" class="close">×</button>
        <form>
            <input type="search" placeholder="Search for items..." />
            <button type="submit" class="btn btn-lg btn-green">Search</button>
        </form>
    </div>


    <!-- End Offcanvas Search Bar Section -->