


<%- include('header') -%>
<body style="background:url(/public/assets/images/banner/loginbanner.jpg);background-repeat: no-repeat;background-size: cover;">



<div class="container p-3" >

<div class="card mb-3 p-5 " id="card-login">
    <div class="row">
      
      <div class="col-md-6">
        <div class="card-body">
            <div>
                <form action="/" method="post" enctype="application/json">
                   
            
                    <div class="container p-4 form-group">
                        <h2 class="text-center">Login System</h2>
                        <p class="text-center">Login for existing user</p>
                        <% if (message) { %>
                          <p class="text-danger"><%= message %></p>
                      <% } %>
            
                        <label class="form-label">Email</label>
                        <input type="email" name="email" id="email" placeholder="Enter Your email address" class="form-control mb-2" onblur="validateEmail()" required>
                        <p id="emailError" class="text-danger"></p>
                        <label class="form-label"> Password</label>
                
                        <input type="password" name="password" id="password" placeholder="Enter password" class="form-control mb-2" required onblur="validatePassword()">
                        <p id="passwordError" class="text-danger"></p>
                        <p class="mt-2">
                           <a href="/forgot"> Forgot password?</a> 
                        </p>
                        
                        <button class="btn btn-success rounded-pill ps-4 pe-4 pt-2 pb-2 mt-2">
                            Login
                        </button>
            
                        <p class="mt-2">
                            Don't have an account? <a href="/register">Create Now</a>
                        </p>
                       
            
                    </div>
                </form>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <img src="/public/assets/images/The Mood Guide.jpeg" class="img-fluid rounded-start" alt="image">
      </div>
    </div>
  </div>
      
</div>
<script>
   function validateEmail() {
        const emailInput = document.getElementById('email');
        const emailError = document.getElementById('emailError');
        if (!emailInput.value.trim()) {
            emailError.textContent = 'Email is required';
        } else if (!/^\S+@\S+\.\S+$/.test(emailInput.value.trim())) {
            emailError.textContent = 'Invalid email format';
        } else {
            emailError.textContent = '';
        }
    }
    window.addEventListener('load', function() {
        // Clear email and password fields
        document.getElementById('email').value = '';
        document.getElementById('password').value = '';
    });
    function validatePassword() {
        const passwordInput = document.getElementById('password');
        const passwordError = document.getElementById('passwordError');
        if (!passwordInput.value.trim()) {
            passwordError.textContent = 'Password is required';
        } else {
            passwordError.textContent = '';
        }
    }
</script>
<%- include('footer') -%>